*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "DM Sans", sans-serif;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
    
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.btn{
    border: unset;
    border-radius: 23px ;
    background-color:#0C0C0C ;
    color: #FBFBFB;
    padding: 7px 7px;
}

.mg-20{
    margin: 50px 0;
}
.mg-bottom{
    margin-bottom: 30px;
}
li a{
    text-decoration: none;
    color: #0C0C0CE5;
}
ul li{
    list-style: none;
}
h1{ 
text-align: center;
letter-spacing: 1%;
padding: 80px 0;
background-color: #0C0C0C;
border-radius: 20px;
color: #FBFBFB;

}

.baner{
    background-color: #0C0C0C;
    padding: 100px 100px;
    color: #FBFBFB;
    border-radius:20px;
    margin-top: 50px;
    font-size: x-large;
}
img{
    max-width: 100%;
}
.second-baner{
    background-color: #121212CC;
    padding: 50px 50px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 40px;
}
.pd-20{
    padding-bottom: 20px;
}
.btn-border{
    border: 0.1px solid white;
}

.btn-white{
    max-width: 400px;
    background-color: white;
    border-radius: 20px;
    padding: 8px 5px ;

}
footer{
    background-color: #0C0C0C;
    padding: 50px 50px;
}
.bottom{
    color:#F4F4F4 ;
}
.line-hgh{
    line-height:30px;
}

